.recipie{
    display : flex;
    flex-direction: column;
    justify-content : space-around;
    margin : 2% 2% 2% 2%;
    width : 40%;
    flex-wrap:  wrap;
    padding : 10px;
    box-shadow : 0px 5px 20px rgb(71,71,71);
    background : white;
}
.image {
    border-radius : 50%;
    height : 100px;
    width : 100px;
}
